<!DOCTYPE html>
<html>
<head>
	<title>doTERRA Essenciais</title>
	<meta charset="utf-8">

	<!-- Normalize CSS -->
	<link rel="stylesheet" type="text/css" href="../res/css/normalize.css">

	<!-- Estilo customizado -->
	<link rel="stylesheet" type="text/css" href="../res/css/estilo.css">

	<!-- [if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
	<![endif] -->

</head>
<body>

	<div id="container"> <!-- Início container -->
		
		<header> <!-- Início header -->
			<div id="logo">
				<h1><a href="">doTERRA Essenciais</a></h1>
			</div>

			<nav> <!-- Início nav -->
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Conceitos</a></li>
					<li><a href="#">Óleos</a></li>
					<li><a href="#">Blends</a></li>
					<li><a href="#">Condições</a></li>
				</ul>
			</nav> <!-- Fim nav -->

		</header> <!-- Fim header -->
