<!DOCTYPE html>
<html>
<head>
	<title>doTERRA Essenciais</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../res/bootstrap/css/bootstrap.min.css">

	<!-- Normalize CSS -->
	<link rel="stylesheet" type="text/css" href="../res/css/normalize.css">

	<!-- Estilo customizado -->
	<link rel="stylesheet" type="text/css" href="../res/css/estilo.css">

	<!-- [if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
	<![endif] -->

</head>
<body>

	<div id="container"> <!-- Início container -->
		
		<header> <!-- Início header -->
			<div id="logo">
				<h1><a href="">doTERRA Essenciais</a></h1>
			</div>

			<nav> <!-- Início nav -->
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Conceitos</a></li>
					<li><a href="#">Óleos</a></li>
					<li><a href="#">Blends</a></li>
					<li><a href="#">Condições</a></li>
				</ul>
			</nav> <!-- Fim nav -->

		</header> <!-- Fim header -->



		<div id="principal"> <!-- Início principal -->

			<div id="conteudo"> <!-- Início conteudo -->
				<section id="capa">
					<img src="../res/img/doTerra-bottles.png">
				</section>

				<section id="postagens">
					
					<article id="video">
						<h3>Vídeo: doTERRA - O que é um Óleo Essencial</h3>

						<iframe width="400" height="224" src="https://www.youtube.com/embed/YoIk18xWxZ4?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					</article>

				</section>
			</div> <!-- Fim conteudo -->

			<aside> <!-- Início aside -->
				
				<!--<section id="depoimento">-->
				<section>
					<div class="card text-white">
				      <img class="card-img" src="../res/img/bg-laranja.png">
				      <div class="card-img-overlay text-center sec-overlay">
				        <h4 class="card-title">Título do cartão</h4>
				        <h6 class="card-subtitle">Subtítulo do cartão</h6>
				        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sapien dui, feugiat et lorem quis, fringilla maximus nisl. Vivamus sed est pulvinar, aliquet purus ut, dictum elit.</p>
				        <a class="btn btn-outline-light" href="">Leia mais</a>
				      </div>
				    </div>
				</section>

				<br><br>

				<div class="card-columns"> <!-- Início galeria -->

					<div class="card">
					    <img class="card-img" src="../res/img/opt-base.jpg" height="67" width="135" alt="Conceitos"> 
					    <div class="card-img-overlay">
					        <a class="btn btn-outline-transparent btn-lg" href="">CONCEITOS</a>
					    </div>
				    </div>

					<div class="card">
					    <img class="card-img" src="../res/img/opt-base.jpg" height="67" width="135" alt="Condições">
					    <div class="card-img-overlay">
					        <a class="btn btn-outline-transparent btn-lg" href="">CONDIÇÕES</a>
					    </div>
				    </div>

					<div class="card">
					    <img class="card-img" src="../res/img/opt-base.jpg" height="67" width="135" alt="Condições">
					    <div class="card-img-overlay">
					        <a class="btn btn-outline-transparent btn-lg" href="">ÓLEOS</a>
					    </div>
				    </div>

					<div class="card">
					    <img class="card-img" src="../res/img/opt-base.jpg" height="67" width="135" alt="Condições">
					    <div class="card-img-overlay">
					        <a class="btn btn-outline-transparent btn-lg" href="">BLENDS</a>
					    </div>
				    </div>

					<!--<div class="card">
					    <img class="card-img" src="../res/img/opt-base.jpg" height="67" width="135" alt="Conceitos"> 
					    <div class="card-img-overlay">
					        <a class="btn btn-outline-light" href="">CONCEITOS</a>
					    </div>
				    </div>

				    <div class="card">
					    <img class="card-img" src="../res/img/opt-base.jpg" height="67" width="135" alt="Condições">
					    <div class="card-img-overlay">
					        <a class="btn btn-outline-light" href="">CONDIÇÕES</a>
					    </div>
				    </div>

					<div class="card">
					    <img class="card-img" src="../res/img/opt-base.jpg" height="67" width="135" alt="Óleos">
					    <div class="card-img-overlay">
					        <a class="btn btn-outline-light" href="">ÓLEOS</a>
					    </div>
				    </div>

				    <div class="card">
					    <img class="card-img" src="../res/img/opt-base.jpg" height="67" width="135" alt="Blends">
					    <div class="card-img-overlay">
					        <a class="btn btn-outline-light" href="">BLENDS</a>
					    </div>
				    </div>  -->

				</div> <!-- Fim galeria -->

			</aside> <!-- Fim aside -->


			<footer>
				<p>
					<a href="#">Home</a>
					<a href="#">Conceitos</a>
					<a href="#">Óleos</a>
					<a href="#">Blends</a>
					<a href="#">Condições</a>
				</p>
				<p>
					2020 <a href="">doTERRA - Essenciais</a> - Todos os direitos reservados.
				</p>
			</footer>
			
		</div> <!-- Fim principal -->

	</div> <!-- Fim container -->




<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="../res/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>