		<div id="principal"> <!-- Início principal -->

			<div id="conteudo"> <!-- Início conteudo -->
				<section id="capa">
					<img src="../res/img/doTerra-bottles.png">
				</section>

				<section id="postagens">
					
					<article id="video">
						<h3>Vídeo: doTERRA - O que é um Óleo Essencial</h3>

						<iframe width="400" height="224" src="https://www.youtube.com/embed/YoIk18xWxZ4?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					</article>

				</section>
			</div> <!-- Fim conteudo -->

			<aside> <!-- Início aside -->
				
				<!--<section id="depoimento">-->
				<section>
					<img src="../res/img/bg-laranja.png">
				</section>

				<section id="galeria"> <!-- Início galeria -->

					<!--<div class="optcontainer">
						<a href="">
							<img id="optimage" src="../res/img/opt-base.jpg" height="67" width="135" alt="Conceitos">
							<label id="opttext">CONCEITOS</label>
						</a>
					</div> -->

					<a href="">
						<figure id="optcontainer">
						
							<img id="optimage" src="../res/img/opt-base.jpg" height="67" width="135" alt="Conceitos">
							<label id="opttext"><strong>CONCEITOS</strong></label>
						
						</figure>
					</a>

					<a href="">
						<img src="../res/img/opt-base.jpg" height="67" width="135" alt="Óleos">
					</a>

					<a href="">
						<img src="../res/img/opt-base.jpg" height="67" width="135" alt="Condicoes">
					</a>

					<a href="">
						<img src="../res/img/opt-base.jpg" height="67" width="135" alt="Blends">
					</a>
					
				</section> <!-- Fim galeria -->

			</aside> <!-- Fim aside -->
